{
  "root": true,
  "extends": "eslint:recommended",
  "env": {
    "node": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "globals": {
    "document": true,
    "test": true,
    "expect": true
  },
  "rules": {
    "semi": [2, "never"],
    "no-unused-vars": 0
  }
}
